<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="NopCommerce Automation Testing">
    <test name="Run on Chrome browser">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="com.nopcommerce.users.User_01_Register_Login"/>
            <class name="com.nopcommerce.users.Level_03_Page_Object"/>
            <class name="com.nopcommerce.users.Level_04_Multiple_Browser"/>
        </classes>
    </test>
    <test name="Run on Chrome browser">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.nopcommerce.users.User_01_Register_Login"/>
            <class name="com.nopcommerce.users.Level_03_Page_Object"/>
            <class name="com.nopcommerce.users.Level_04_Multiple_Browser"/>

        </classes>
    </test>
    <test name="Run on Chrome browser">
        <parameter name="browser" value="edge"></parameter>
        <classes>
            <class name="com.nopcommerce.users.User_01_Register_Login"/>
            <class name="com.nopcommerce.users.Level_03_Page_Object"/>
            <class name="com.nopcommerce.users.Level_04_Multiple_Browser"/>
            
        </classes>
    </test>
</suite>
